<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<span id="signinButton">
  <span
  class="g-signin"
  data-callback="signinCallback"
  data-clientid="321374248887.apps.googleusercontent.com"
  data-cookiepolicy="single_host_origin"
  data-requestvisibleactions="http://schemas.google.com/AddActivity"
  data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
  </span>
</span>