*.class

# Package Files #
*.jar
*.war
*.ear

update-notifier-frontend/.idea
update-notifier-frontend/tmp
update-notifier-frontend/log

update-notifier-backend/.classpath
update-notifier-backend/target
*.log