<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
		<property name="m_username" value="root" />
		<property name="m_password" value="root" />
		<property name="p_username" value="postgres" />
		<property name="p_password" value="passw0rd" />
		<property name="m_driver" value="com.mysql.jdbc.Driver" />
		<property name="p_driver" value="driver must be here" />
		<property name="m_url" value="jdbc:mysql://localhost/update_notifier" />
		<property name="p_url" value="url or dynamic" />
	</properties>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${m_driver}" />
				<property name="url" value="${m_url}" />
				<property name="username" value="${m_username}" />
				<property name="password" value="${m_password}" />
			</dataSource>
		</environment>
		
		<environment id="production">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${p_driver}" />
				<property name="url" value="${p_url}" />
				<property name="username" value="${p_username}" />
				<property name="password" value="${p_password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<package name="net.thumbtack.updateNotifierBackend.database.mappers" />
	</mappers>


</configuration>